[submodule "avocado-blockchain-gui"]
	path = avocado-blockchain-gui
	url = https://github.com/Avocado-Network/avocado-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
